# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = pd.read_csv(url)

iris.head()

### Step 4. Create columns for the dataset

In [ ]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

iris.columns = ['sepal_length','sepal_width', 'petal_length', 'petal_width', 'class']
iris.head()

### Step 5.  Is there any missing value in the dataframe?

In [ ]:
pd.isnull(iris).sum()

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [ ]:
iris.iloc[10:30,2:3] = np.nan
iris.head(20)

### Step 7. Good, now lets substitute the NaN values to 1.0

In [ ]:
iris.petal_length.fillna(1, inplace = True)
iris

### Step 8. Now let's delete the column class

In [ ]:
del iris['class']
iris.head()

### Step 9.  Set the first 3 rows as NaN

In [ ]:
iris.iloc[0:3 ,:] = np.nan
iris.head()

### Step 10.  Delete the rows that have NaN

In [ ]:
iris = iris.dropna(how='any')
iris.head()

### Step 11. Reset the index so it begins with 0 again

In [ ]:
iris = iris.reset_index(drop = True)
iris.head()

### BONUS: Create your own question and answer it.